html {
	box-sizing: border-box;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
  	width: 1200px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;

	background-color: #f2f2f2;
	box-shadow: 0 0 40px -10px #000000;
}

a {
  	text-decoration: none;
  	font-weight: 700;
}

.visually-hidden {
  	position: absolute;
  	clip: rect(0 0 0 0);
  	width: 1px;
  	height: 1px;
  	margin: -1px;
}

.main-navigation {
	background-color: #ffffff;
}

.main-header {
	position: relative;
}

.logo {
	position: absolute;
	left: calc(50% - 69px);
	z-index: 1;
}

.main-menu,
.advantages-list,
.features-list,
.social-button,
.form-settings ul,
.results ul,
.item-list {
	list-style: none;
}

.main-menu {
	display: flex;
	line-height: 54px;
}

.main-menu a {
	color: #000000;
}

.main-menu li {
	width: 300px;
	height: 56px;
	padding-left: 71px;
	padding-right: 71px;
}

.main-menu li:nth-child(2) {
	padding-left: 13px;
}

.main-menu li:nth-child(3) {
	padding-right: 15px;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	text-align: right;
}

.main-menu .link-active {
	color: #766357;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.banner {
	min-height: 508px;
	background-color: #81b3d2;
	background-image: 
		url(../img/banner-botton.png),
		url(../img/bg-photo.jpg);
	background-position: 
		bottom center,
		center -57px;
  	background-repeat: 
  		no-repeat,
  		no-repeat;
}

.banner-logo {
	text-align: center;
	padding-top: 76px;
}


.container {
	text-align: center;
}

.intro {
	background-color: #ffffff;
	min-height: 216px;
}

.intro h1 {
 	font-size: 21px;
 	font-weight: 700;
 	padding-top: 60px;
 	padding-bottom: 27px;
 	padding-left: 375px;
 	padding-right: 375px;
 }

.intro p {
	color: #333333;
	padding-bottom: 51px;
	padding-left: 200px;
	padding-right: 200px;
}

.advantages-list {
	color: #ffffff;
	background-color: #81b3d2;
}

.advantages-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 47px;
	padding-bottom: 21px;
}

.advantages-list p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding-left: 49px;
	padding-right: 49px;
	padding-top: 19px;
	padding-bottom: 20px;
}

.features-list {
	color: #000000;
	background-color: #ffffff;
	display: flex;
	min-height: 330px;
	justify-content: space-around;
}

.features-item {
	width: 400px;
}

.features-item::before {
	display: block;
	width: auto;
	height: 132px;
	content: "";
	background-image: url("../img/icon-1.svg");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
	background-image: url("../img/icon-3.svg");
}

.features-item:nth-child(3)::before {
	background-image: url("../img/icon-2.svg");
}

.features-list h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 29px;
	padding-bottom: 24px;
}

.features-list p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	padding-left: 57px;
	padding-right: 57px;
	padding-bottom: 20px;
}

.one-list,
.two-list,
.last {
	display: flex;
	min-height: 256px;
}

.one-list .advantages-item:first-child {
	width: 400px;
}

.one-list .advantages-item:last-child {
	width: 800px;
	min-height: 256px;
	background-image: url("../img/city-big.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.two-list .advantages-item:last-child {
	width: 400px;
}

.two-list .advantages-item:first-child {
	width: 800px;
	min-height: 256px;
	background-image: url("../img/bridge-big.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.map {
	min-height: 593px;
	background-color: #81b3d2;
	background-image: url("../img/map.jpg");
	background-position: center top;
}

.last {
	background-color: #eeeeee;
	color: #000000;
	justify-content: space-between;
}

.last .advantages-item {
	width: 400px;
}

.last p {
	color: #333333;
	padding-left: 68px;
	padding-right: 68px;
}

.search-form-wrapper{
	min-height: 291px;
}

.search-form {
	background-color: #ffffff;
	min-height: 884px;
}

.block-search {
	position: relative;
}

.modal-block {
	position: absolute;
	top: -679px;
	left: calc(50% - 284px);
	text-align: left;
}

.full-width {
	margin-bottom: 30px;
	position: relative;
}

.full-width label {
	display: inline-block;
	width: 108px;
}

input[type="text"] {
	display: inline-block;
	width: 342px;
	height: 38px;
	padding-left: 12px;
}

.half-width {
	display: inline-block;
}

.half-width input[type="text"] {
	padding-left: 15px;
}

.plus-minus-button,
.half-width input[type="text"] {
	width: 38px;
	height: 38px;
	margin-right: -4px;
}

.adults {
	display: inline-block;
	width: 108px;
}

.child {
	display: inline-block;
	width: 112px;
	padding-left: 55px;
}

.wrapper-modal-block {
	background-color: #ffffff;
	width: 568px;
	min-height: 395px;
	padding: 55px 57px;
	box-shadow: 0 0 40px -10px #000000;
}

.search-form h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 25px;
}

.search-form p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
}

.search-form-wrapper p {
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 102px;
}

.search {
	background-color: #766357;
	color: #ffffff;
	border: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	min-width: 568px;
	min-height: 86px;
}

.search:hover {
	background-color: #604e43;
}

.search:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.block-search p,
.block-search input[type="text"] {
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.block-search input[type="text"],
.plus-minus-button {
	border: none;
	background-color: #f2f2f2;
}

.block-search input:hover {
	background-color: #ebebeb;
}

.block-search input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

input[type="text"]::-ms-clear {
	display: none;
}

.plus-minus-button {
	color: #a9a9a9;
	font-weight: 700;
}

.plus-minus-button:hover {
	color: #000000;
}

.plus-minus-button:active {
	color: #81b3d2;
}

.button-find {
	margin-top: 53px;
	width: 452px;
	height: 58px;
	border: none;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.main-footer-copyright svg,
.social-button-item svg {
	pointer-events: none;
}

.button-find:hover,
.social-button a:hover,
.social-button a:focus {
	background-color: #669ec0;
}

.button-find:active,
.social-button a:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.social-button-item:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.main-footer {
	position: relative;
	margin-top: -120px;
	min-height: 120px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	align-items: baseline;
}

.main-footer div {
	width: 400px;
	padding-top: 35px;
}

.visit-sedona-instagram a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.social-button {
	display: flex;
	justify-content: center;
}

.social-button a {
	display: block;
	color: #ffffff;
	width: 46px;
	height: 48px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: #81b3d2;
	padding-top: 14px;
}

.main-footer-copyright p {
	display: inline-block;
	padding-right: 4px;
	padding-bottom: 25px;
}

.main-footer-copyright a {
	display: inline-block;
    vertical-align: middle;
}

.main-footer-copyright svg {
	width: 115px;
	height: 41px;
}

.main-footer-copyright a:hover path,
.main-footer-copyright a:focus path {
	fill: #81b3d2;
}

.main-footer-copyright a:active path {
	fill: #bdbbbc;
}

/** Вторая страница **/

.form-settings {
	min-height: 217px;
	background-color: #81b3d2;
	background-image: url(../img/filter-bg.jpg);
	background-position: center -56px;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: left;
}

.form-columns {
	display: flex;
	justify-content: flex-start;
	padding-top: 28px;
}

.form-settings .infrastructure {
	width: 312px;
	padding-left: 62px;
}

.form-settings .housing {
	width: 288px;
	padding-left: 7px;
}

.form-settings .cost {
	width: 328px;
	margin-left: 200px;
	padding-left: 14px;
}

.form-settings fieldset {
	border: none;
}

.form-settings legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.form-settings ul {
	font-size: 14px;
	line-height: 21px;
	padding-top: 18px;
}

.results {
	min-height: 86px;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: flex-start;
}

.results-search {
	width: 728px;
	padding-left: 72px;
	display: flex;
	justify-content: flex-start;
}

.results-sort {
	padding-left: 365px;
	padding-right: 15px;
}

.results p:nth-child(1) {
	padding-top: 31px;
}

.results p:nth-child(2) {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	padding-top: 36px;
	padding-left: 48px;
}

.results-list {
	width: 288px;
	display: flex;
	align-items: baseline;
    padding-top: 29px;
}

.results-list-item {
	padding-left: 30px;
	margin-left: 5px;
}

.results-sort-list {
	display: flex;
	justify-content: space-around;
	text-align: right;
	padding-top: 29px;
}

.results a {
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.results a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.results a:active {
	color: #000000;
	border: none;
}

.results-sort-list-item a {
	font-size: 0px;
	border: none;
	padding-right: 12px;
}

.results-sort-list-item a:hover {
	border: none;
}

.results-sort-list-item path:hover {
	fill: #000000;
}

.results-sort-list-item path:active {
	fill: #81b3d2;
}

.sort-active path {
	fill: #81b3d2;
}

.results .active-results {
	border: none;
	color: #81b3d2;
}

.results-page {
	background-color: #ffffff;
}

.wrapper-item {
	border-bottom: 1px solid #e5e5e5;
	display: flex;
}

.item,
.item-rating {
	width: 600px;
	min-height: 150px;
	display: flex;
}

.item-rating {
	flex-direction: column;
}

.item-rating-stars {
	text-align: right;
	padding-top: 29px;
	padding-right: 73px;
}

.rating-stars {
	padding-left: 2px;
}

.wrapper-rating {
	padding-top: 40px;
	padding-right: 72px;
	padding-left: 417px;
}

.wrapper-rating .rating {
	padding-top: 2px;
	padding-left: 3px;
}

.item .mini-foto {
	width: 237px;
	min-height: 150px;
	padding-top: 30px;
	padding-left: 72px;
	padding-right: 30px;
}

.item-list {
	width: 393px;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: flex-start;
}

.item-list .hotel-item {
	width: 393px;
	padding-top: 26px;
}

.item-list li:nth-child(2) {
	width: 117px;
	padding-bottom: 8px;
}

.item-list li:nth-child(3) {
	width: 246px;
}

.button-detailed,
.button-book {
	padding-bottom: 24px;
	padding-right: 6px;
}

.hotel-item {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
} 

.hotel-item a {
	color: #000000;
}

.hotel-item a:hover {
	color: #81b3d2;
}

.hotel-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.results-page p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.button-detailed a,
.button-book a {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	display: block;
	padding-top: 4px;
	padding-left: 17px;
}

.button-detailed a {
	background-color: #81b3d2;
	width: 110px;
	height: 27px;
}

.button-book a {
	background-color: #766357;
	width: 142px;
	height: 27px;
}

.button-detailed a:hover {
	background-color: #669ec0;
}

.button-detailed a:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.button-book a:hover {
	background-color: #604e43;
}

.button-book a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	background-color: #f2f2f2;
	width: 110px;
	height: 27px;
	color: #666666;
	font-size: 14px;
	line-height: 21px;
}

.plug-footer {
	min-height: 120px;
}

/** Сложный фильтр в «Седоне» **/

.filter-range {
  width: 316px;
  margin: -1px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 147px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 83px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.price-controls input[type="text"] {
	padding-left: 0;
}

/* Чекбоксы в «Седоне» */

input[type="checkbox"] {
	display: none;
}

.infrastructure label,
.housing label {
	width: 50%;
	height: 23px;
	display: block;
	position: relative;
	padding-left: 40px;
}

.infrastructure li,
.housing li {
	margin-bottom: 23px;
}

.infrastructure li:last-child,
.housing li:last-child {
	margin-bottom: 0;
}

input[type="checkbox"] + span {
	position: absolute;
	left: 0; 
	top: 0;
	width: 100%; 
	height: 100%;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + span {
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.search-form-calendar {
	position: absolute;
	top: 7px;
	left: 426px;
	font-size: 0;
	width: 21px;
	height: 22px;
	cursor: pointer;
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
}